
.TeamSprintCard {
    background-color: #f1f1f1;
    height: 20vh;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transform-origin: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1; 
}


.TeamSprintCard:nth-child(1) { background-color: #FDE3E3; }
.TeamSprintCard:nth-child(2) { background-color: #FFF6D1; }
.TeamSprintCard:nth-child(3) { background-color: #E7F4DD; }
.TeamSprintCard:nth-child(4) { background-color: #E3E7FD; }
.TeamSprintCard:nth-child(5) { background-color: #FDE3FD; }
.TeamSprintCard:nth-child(6) { background-color: #E3F1FD; }

.TeamSprintCard:hover {
    transform: scale(1.1); /* 카드 확대 */
    height: auto; /* 높이를 자동으로 설정하여 전체 텍스트 표시 */
    max-height:40vh;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.reviewTitle {
    display: flex;
    flex-direction: columns;

}

.TeamSprintCard img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.userName {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.reviewText {
    font-size: 13px;
    white-space: pre-wrap;
    line-height: 1.6;
    
}

