.teamReview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; /* 가로 방향 간격 */
    row-gap: 20px; /* 세로 방향 간격을 줄임 */
    /* height: 71vh; */
    padding: 0px 20px;
}
