.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
}

.h1{
    font-size: 60px;
}

.stopIcon{
    width: 7%;
    height: 7%;
}
