/* filterDropDown.module.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .button {
    padding: 10px 20px;
    border: 2px solid #007bff; /* 버튼 테두리 색상 */
    border-radius: 4px;
    background-color: #ffffff; /* 배경 색상 */
    color: #007bff; /* 글자 색상 */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* 부드러운 전환 효과 */
    width: 100%; /* 버튼 너비를 100%로 설정하여 컨테이너에 맞춤 */
  }
  
  .button:hover {
    background-color: #007bff; /* 마우스 오버 시 배경 색상 */
    color: #ffffff; /* 마우스 오버 시 글자 색상 */
  }
  
  .options {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px; /* 둥글둥글한 모서리 */
    margin-top: 5px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    width: 100%; /* 옵션 너비를 버튼과 동일하게 설정 */
  }
  
  .option {
    padding: 8px 15px; /* 패딩을 줄임 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
    font-size: 16px; /* 옵션 글자 크기 */
    border-radius: 8px; /* 둥글둥글한 모서리 */
  }
  
  .option:hover {
    background-color: #e9ecef; /* hover 시 배경 색상 변경 */
    color: #007bff; /* hover 시 글자 색상 변경 */
  }
  
  /* 선택된 옵션을 강조하는 스타일 */
  .option.selected {
    background-color: #007bff; /* 선택된 옵션의 배경 색상 */
    color: white; /* 선택된 옵션의 글자 색상 */
    font-weight: bold; /* 선택된 옵션의 글자 두께 증가 */
  }
  