.sprintListContainer {
  width: 97%;
  padding: 20px;
  display : flex;
  flex-direction: column;
  align-items: center;
}

/* Header 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding : 10px;
  width : 93%;
  border-bottom :1px solid #ccc;
}

.header h2 {
  font-size : 24px;
}

.createSprintButton {
  padding: 10px 20px;
  background-color: #0997EE;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;

  transition: background-color 0.3s;
}

.createSprintButton:hover {
  background-color: #0074b3; 
}

/* Table 스타일 */
.sprintTable {
  width: 95%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sprintTable th,
.sprintTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.sprintTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.sprintTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sprintTable tr:hover {
  background-color: #f1f1f1;
}

/* 기존 스타일 */
.active {
  background-color: #d4edda;
  color: #155724;
}
.closed {
  background-color: #f8d7da;
  color: #721c24;
}

/* 새로운 스타일 */
.future {
  background-color: #d1ecf1;
  color: #0c5460;
}

.emptyMessage {
  font-size: 1em;
  color: #888;
  text-align: center;
  margin-top: 20px;
}
