.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.loadingBox {
    width: 400px;
    height: auto;
    border-radius: 10px;
    background-color: white;
}
  
.loadingText {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px;
}