.projectHeader {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    
}

.projectTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.projectNavbar {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
}
  
.navList {
    display: flex;
    gap: 45px;
    list-style: none;
    padding: 0;
}

.navLink {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 0px;
}

.navLink:hover {
    color: #007bff;
    cursor: pointer;
}

.activeLink {
    color: #007bff; /* 활성화된 링크 색상 */
    font-weight: bold; /* 강조할 경우 굵게 설정 */
    margin: 0px;
}

.activeLink:hover {
    cursor: pointer;
}
  