.container {
    display: flex;
    flex: 1 ;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.content {
    position: absolute;
    top: 15%;
    left: 12%;
}

.image {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 500px;
}