.mainLayout {
  width: 100vw;
  height: 100vh;
  background-color: #f2f5fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 800px;
  height: 500px;
}
