.calendarWrapper {
    width: 280px;
}

.customCalendar {
    border: none;
}

.customCalendar__navigation__label {
    font-size: 14px;
    font-weight: bold;
    pointer-events: none; /* 클릭을 비활성화 */
    opacity: 1 !important; /* 흐려지지 않도록 유지 */
    cursor: default; /* 커서를 기본 모양으로 */
}

.customCalendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.customCalendar__tile {
    margin-bottom: 3px;
}

.weekdayTile {
    background-color: #913BF6;
    color: white;
}

.activeTile {
    background-color: #913BF6 !important; /* 선택된 월요일 스타일 */
    color: white !important;
}

.todayMarker {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #913BF6; /* 오늘 날짜에 표시할 스타일 */
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}
