/* Task.module.css */
.jira {
  background-color: #e2edfb; /* Jira 연한 파란색 */
  color: #357DE8;
}

.gitlab {
  background-color: #ffe0cc; /* GitLab 연한 오렌지 */
  color: #fc6d26;
}

.meeting {
  background-color: #ebf2ff; /* 회의록 연한 파란색 */
  color: #6c63ff;
}

.task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s; /* 애니메이션 효과 */
}

.task:hover {
  filter: brightness(0.9); /* 마우스 오버 시 밝아짐 */

}

.taskTitle {
  /* 공통 스타일 */
  font-weight: bold;
  padding: 8px 12px; /* 가로 여백을 살짝 더 넓게 */
  color: white; /* 텍스트 색상을 흰색으로 통일 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.jira-title {
  background-color: #4a90e2; /* Jira 색상 변경 */
}

.gitlab-title {
  background-color: #fc6d26; /* GitLab 오렌지 */
}

.meeting-title {
  background-color: #6c63ff; /* 회의록 보라색 */
}

.taskTitle:hover {
  filter: brightness(1.1); /* 마우스 오버 시 밝아짐 */
}