.calendar {
    width: 280px;
}

:global(.react-calendar) {
    border: none ;
}

:global(.react-calendar__navigation__label) {
    font-size: 14px; 
    font-weight: bold;
}

:global(.react-calendar__month-view__weekdays__weekday abbr) {
    text-decoration: none;
} 

:global(.react-calendar__tile--now) {
    background-color: #FBFFAA ; 
}

:global(.react-calendar__tile) {
    margin-bottom: 3px ;
}

:global(.react-calendar__tile--active) {
    background-color: #007bff !important; 
    color: white ; 
}