.tableContainer {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.table th {
    background-color: #433878;
    color: white;
    padding: 10px;
    text-align: center;
}

.table td {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    white-space: pre-wrap;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 5%; /* ID 열의 너비 */
    cursor: default;
    text-align: center;
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 15%; /* Category 열의 너비 */
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 20%; /* description 열의 너비 */
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 20%; /* url 열의 너비 */
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 10%; /* Method 열의 너비 */
}

.table th:nth-child(6), .table td:nth-child(6) {
    width: 10%; /* statusCode 열의 너비 */
}

.table th:nth-child(7), .table td:nth-child(7) {
    width: 10%; /* owner 열의 너비 */
}

.table th:nth-child(8), .table td:nth-child(8) {
    width: 10%; /* state 열의 너비 */
}

textarea {
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}