.weeklyProgressContainer {
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width : calc(100% - 60px)
}

.teamProfiles {
  display: flex;
  gap: 10px;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.sprintTitle {
  font-size: 24px;
  text-align: center;
}

.buttonPlaceholder {
  width: 80px;
}

.contentheader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.dayHeader {
  padding: 10px 0;
}

.issueGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
