/* src/components/modal/Modal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
/* src/components/profileImageModal/ProfileImageModal.module.css */

.modalContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position : relative;
}

.modalProfileImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 15px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.viewButton {
  background-color: #4a90e2;
  color: white;
}

.viewButton:hover {
  background-color: #357ab8;
}

.changeButton {
  background-color: #f5a623;
  color: white;
}

.changeButton:hover {
  background-color: #d48820;
}

.saveButton {
  background-color: #4caf50;
  color: white;
}

.saveButton:hover {
  background-color: #45a049;
}
