.teamCreationForm {
    display: flex;
    flex: 1;
    gap: 5%;
    border-top: 1px solid #d9d9d9;
    padding: 50px 30px;
}

.formSection{
    width: 50%;
}

.selectionSection {
    width: 40%;
    border-left: 1px solid #d9d9d9;
    padding-left: 5%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

.sectionLabel {
    font-weight: 700;
}

.regionOptions label,
.recruitmentOptions .role {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.regionOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.regionOptions label input {
    margin-right: 8px;
}

.textInput,
.textArea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
}

.textArea {
    height: 100px;
    resize: vertical;
}

.tagOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.domainWrapper {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 20px; 
}

.categoryBox {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    min-width: 48px;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 380px; 
}

.recruitmentOptions {
    display: flex;
    gap: 10px;
}

.submitButton {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #0056b3;
}

.cancelButton {
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.cancelButton:hover {
    background-color: #c82333;
}

.buttonSection {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.categoryLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.tagRow {
    display: flex;
    margin-bottom: 5px;
}

.myPosition {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myPositionTag {
    display: flex;
    justify-items: center;
    width: 60%;
    align-items: center;
    gap: 10px;
}

.regionLabel {
    min-width: 74px;
}