
/* 팀원 회고 섹션 스타일 */
.teamReview {
    display: flex;
    gap: 20px;
    height: 73vh;
}

/* Keep, Problem, Try 섹션 스타일 */
.keepSection, .problemSection, .trySection {
    flex: 1;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 8px;
}
.sectionTitle{
    display: flex;
    align-items: center;
    height: 5vh;
    gap:10px;
    margin-bottom: 20px;
}

.sectionTitleStart {
    width: 10px;
    height: 30px;
    /* background-color: #4F9DEA; */
    border-radius: 3px;
}

h3 {
    margin: 0px;
    font-weight: bold;
}

/* 각 섹션의 제목 스타일 */
.keepSection .sectionTitleStart {
    background-color: #4F9DEA;
}

.problemSection .sectionTitleStart {
    background-color: #FA664E;
}

.trySection .sectionTitleStart {
    background-color: #FEB71D;
}

.reviewCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position: relative;
}
