.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
}

.dateTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}

.filter {
    display: flex;
    gap: 50px;
}

.dayWeek {
    display: flex;
    gap: 20px;
}

.myTeam {
    display: flex;
    gap: 20px;
}