/* 모달 오버레이 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* 모달 컨테이너 */
.modalContainer {
  background-color: white;
  width : 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* 모달 헤더 */
.modalHeader {
  background-color: #1a2a45; /* 진한 네이비 */
  color: white;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 닫기 버튼 */
.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* 모달 바디 */
.modalBody {
  display: flex;
  align-items: center;
  height : 60px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.bodyLeft {
  background-color: #e1e8f0; /* 연한 네이비 */
  color: black;
  padding: 20px;
  flex: 1;
  border-top: 1px solid #ddd; /* 헤더와 바디 사이의 회색 선 */
  border-bottom: 1px solid #ddd; /* 바디와 푸터 사이의 회색 선 */
  text-align: center;
}

.bodyRight {
  padding: 20px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #ddd; /* 헤더와 바디 사이의 회색 선 */
  border-bottom: 1px solid #ddd; /* 바디와 푸터 사이의 회색 선 */
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* 모달 푸터 */
.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* 저장 버튼 */
.saveButton {
  background-color: #1a2a45; /* 진한 네이비 */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* 취소 버튼 */
.cancelButton {
  background-color: #ddd;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
