.pageContainer {
  position: relative; /* 상대 위치로 설정하여 절대 위치 요소에 기준이 됩니다 */
}

.move {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute; 
  top: 85px; 
  right: 30px; 
  font-weight: bold;
  cursor: pointer;
  animation: changeColor  2s infinite ;
  /* animation: blink  2s infinite ; */
}

/* 글자 색깔 변경 애니메이션 */
@keyframes changeColor {
  0% {
      color: #FA563B; 
  }
  20% {
      color: #0997EE;
  }
  40% {
      color: #198861; 
  }
  60% {
      color: #1F2574; 
  }
  80% {
      color: #913BF6; 
  }
  100% {
      color: #FA563B; /* 마지막에 초기 색상으로 돌아옴 */
  }
}

/* 깜빡이는 애니메이션 정의 */
@keyframes blink {
  0%, 100% {
      opacity: 1; /* 완전히 보임 */
  }
  50% {
      opacity: 0; /* 완전히 사라짐 */
  }
}