/* ProgressChart.module.css */
.chartWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width : 600px;
  border : 1px solid #f4f4f4;
  border-radius : 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin : 20px;
}

.chartContainer {
  width: 200px;
  text-align: center;
  position: relative;
}

.progressText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}
