.page {
    flex: 1;
    box-sizing: border-box;
    justify-self: center;
    width: 90%;
    margin-top: 70px;
}

.pageTitle {
    font-size: 32px;
    font-weight: bold;
}

.detailContainer {
    display: flex;
    flex: 1;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.postSection {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-right: 5%;
    width: 70%;
    gap: 20px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.positionSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
}

.postContent {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
}

.teamSection {
    border-left: 1px solid #d9d9d9;
    width: 25%;
    box-sizing: border-box;
    padding: 5px 20px;
}

.memberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.memberInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.commentList {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d9d9d9;
}

.commentItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 20px;
}

.commentAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.commentContent {
    width: 60%;
    word-wrap: break-word;
    white-space: normal;
}