/* Sidebar 전체 컨테이너 */
.sidebarContainer {
  padding-top: 3%;
  background-color: #222261;
  position: fixed;
  color: #e5e5fa;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  transition: width 0.3s ease;
  z-index: 1000;
  display : flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebarContainer:hover {
  width: 300px; /* 호버 시 너비 확장 */
}

/* Nav 리스트 스타일 */
.navList {
  padding: 0;
}

/* Nav 아이템 */
.navItem {
  display: flex;
  align-items: center;
  padding: 0;
  padding: 20px 0px;
  padding-left: 15px;
}

.navItem:hover {
  background-color: #46467a;
  color: white;
}

/* Nav 아이콘 이미지 */
.icon {
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
}
.profileImage {
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
  background-color: white;
  border-radius: 50%;
}

/* Nav 텍스트 (기본적으로 숨기기) */
.navText {
  width: 0px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: width 0.3s ease, opacity 0.3s ease;
  line-height : 1.5;
  text-align: left;
  margin-left : 15px;
}

.sidebarContainer:hover .navText {
  width: 120px;
  visibility: visible;
  opacity: 1;
}

.header {
  padding: 10px;
  background-color: #222261;
  color: white;
}
.footer {
  margin-bottom : 70px;
}
